[submodule "Harboe/vendor/spdlog"]
	path = Harboe/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Harboe/vendor/GLFW"]
	path = Harboe/vendor/GLFW
	url = https://github.com/TheCherno/glfw.git
[submodule "Harboe/vendor/imgui"]
	path = Harboe/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Harboe/vendor/glm"]
	path = Harboe/vendor/glm
	url = https://github.com/g-truc/glm.git
