[submodule "Harboe/vendor/spdlog"]
	path = Harboe/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Harboe/vendor/GLFW"]
	path = Harboe/vendor/GLFW
	url = https://github.com/TheCherno/glfw.git
